/* mobile */
@media (max-width: 820px){
    .tb-header{
        /* display: none !important; */
        display: block;
        position: absolute;
        width: 140px;
        background-color: var(--orange-color);
        top: 20px;
        left: -25px;
    }

    .navbar-item a{
        /* margin-left: 50px; */
    }

    .header__navbar{
        padding: 12px 24px !important;
    }

    .header .mobile-menu-btn{
        display: block;
    }

}

/* tablet & mobile 

@media (max-width: 63.9375em){

} */